.buttons {
	display: flex;
	justify-content: space-between;
	@include nsm {
		width: 100%;
	}
	
}
.btn {
	border-radius: 5px;
	color: $text-light;
	transition: 0.3s;
	&--light {
		background: $text-light;
		border: 1px solid #6F6D7B;
		color: $text-dark;
		transition: 0.3s;
		&:hover,
		&:focus {
			transition: 0.3s;
			border: 1px solid $text-light;
			box-shadow: 0 0 5px #6F6D7B;
		}
		@include nsm {
			&:hover,
			&:focus {
				transition: 0.3s;
				border: 1px solid $pryme-color;
				color: $pryme-color;
			}
		}
	}
	&--pryme {
		border: 1px solid #FFFFFF;
		background: $pryme-color;
		&:hover,
		&:focus {
			transition: 0.3s;
			border: 1px solid $pryme-color;
			box-shadow: 0 0 5px #6F6D7B;
		}
	}
}