.scheme {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 80px 0;
	@include nsm {
		flex-direction: column;	
		margin: 40px 0;
	}
	&__item-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
		flex: 0 0 19.588%;
    	padding: 0 10px;
		position: relative;
		@include nsm {
			margin-bottom: 30px;
		}
		&::after { 
			display: block;
			content: '';
			background: url('../img/dots.svg');
			background-size: cover;
			width: 50%;
			height: 6px;
			position: absolute;
			top: 30%;
			left: 101%;
			transform: translate(-50%, -50%);
			z-index: 0;
			@include nlg {
				left: 97%;
			}
			@include nsm {
				display: none;
			}
			
		}
		&--last {
			&::after{
				content: none;
			}
		}
		
	}
	&__item {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: $pryme-color;
		border: 5px solid #286690;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		position: relative;
		z-index: 2;

		@include nsm {
			margin-bottom: 15px;
		}	
		
	}
	&__text {
		font-size: 16px;
		color: $text-light;
		@include nmd {
			font-size: 13px;
		}
	}
}