.footer {
	background-color: #3D4050;
	padding: 30px 0;
	@include nmd {
		padding: 20px 0;
	}
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include nsm {
			flex-direction: column-reverse;
		}
	}
	&__copyright {
		color: $text-light;
		font-size: 13px;
		line-height: 120%;
		@include nsm {
			font-size: 10px;
		}
		span {
			text-transform: uppercase;
		}
	}
	&__payment {
		border-left: 1px solid #c3c3c3;
		border-right: 1px solid #c3c3c3;
		padding: 0 40px;
		@include nsm {
			border-left: none;
			border-right: none;
			padding: 0;
			width: 100%;
			margin-bottom: 20px;
		}
	}
	&__payment-list {
		display: flex;
		justify-content: space-between;
		li {
			color: #c3c3c3;
			font-size: 13px;
			line-height: 120%;
			margin-right: 38px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__payment-icon {
		margin-right: 10px;
		&--yandex {
			margin-top: -3px;
		}
	}
	&__socials {
		@include nlg {
			padding-left: 20px;
		}
		@include nsm {
			width: 100%;
			padding-left: 0;
			margin-bottom: 15px;
		}
	}
	&__socials-list {
		display: flex;
		@include nmd {
			flex-direction: column;
		}
		@include nsm {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		li {
			margin-right: 38px;
			@include nmd {
				margin-right: 10px;
			}
			@include nsm {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
				@include nmd {
					margin-left: 3px;
				}
				@include nsm{
					margin-left: 0;
				}
			}
			a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				color: $text-light;
				font-size: 13px;
				padding: 10px 0;
				@include nmd {
					padding: 0;
				}
			}
		}
	}
	&__socials-icon {
		margin-right: 10px;
	}
}
